<h1>Informacion metodo POST</h1>
<form method="POST">
    <label>Nombre:</label>
    <input type="text" name="cajanombre" class="form-control" /><br />
    <label>Edad:</label>
    <input type="text" name="cajaedad" class="form-control" /><br />
<button type="submit" class="btn btn-success">Submit</button>
</form>
<h1>@ViewBag.Nombre, @ViewBag.Edad</h1>